[Desktop Entry]
Name=Audio assistant
GenericName=Audio assistant
Name[ru]=Помощник аудио
Comment=Linphone audio assistant
Comment[fr]=Assistant audio de Linphone.
Comment[ru]=Помощник аудио Linphone
Type=Application
Exec=linphone --run-audio-assistant
Icon=/Users/Shared/Jenkins/Home/workspace/linphone-ios/submodules/build/..//../liblinphone-sdk/armv7-apple-darwin/share/pixmaps/linphone/linphone.png
Terminal=false
Categories=Network;Telephony;
